.App {
  text-align: center;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  

}

.inner{
  margin: auto;
  width: 40%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
.images{
  border-radius: 50%;
}
